@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body{
    font-family: 'Roboto', sans-serif;
}

.text-center{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 70px;
}

.row{
    margin: 8px 0;
}

.row input{
    font-size: 20px;
    margin: 0;
    padding: 6px 8px;
    border: 2px solid black;
    border-radius: 5px;
    width: 285px;
}